html,body {
  margin:0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main{
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

header {
    margin:0;
}

/* HomePage */

.big-wrapper{
  padding: 1.7rem 0 0.4rem;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  max-width: 81rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}


header{
  position: relative;
  z-index: 70;
  align-items: center;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}

.overlay{
  display: none;
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-btn{
  display: none;
}

.logo img{
  width: 50px;
  height: 47px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.links ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.links a{
  color: #333333;
  margin-left: 4rem;
  font-family: mulish;
  font-weight: 700;
  display: inline-block;
  transition: .3s;
}

.links a:hover{
  color: #ffc219bb;
}

.btn .links{
  color: #333333;
}

.btn{
  display: inline-block;
  padding: 1.2rem 1.9rem;
  color: #333333 !important;
  border-radius: 16px;
  font-family: 'Mulish';
  font-weight: 700;
  background: #FFFFFF;
  box-shadow: 4px 2px 11px -5px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  transition: .3s;
}

.btn:hover{
  color: #fefefe !important;
  background-color: #FFC319;
  transform: scale(1) !important;
}

.hakkame{
  margin-bottom: 105px;
}

.hamburger-menu{
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none
}

.bar::before{
  transform: translateY(-8px);
  color: #fefefe;
}

.bar::after{
  transform: translateY(8px);
  color: #333333;
}

.big-wrapper.active .hamburger-menu .bar{
  background-color: transparent;
}

.big-wrapper.active .bar::before{
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after{
  transform: translateY(0) rotate(45deg);
}

.hamburger-menu .bar{
  width: 100%;
  position: relative;
  height: 3px;
  background-color: #333333;
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before, .bar::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 3px;
  transition: 0.5s;
}

.showcase-area .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title, h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  color: #333333;
}

.languages{
  width: 25rem;
}

.text{
  color: #333333;
  font-size: 1.1rem;
  margin: 1.5rem 0 2rem;
  font-family: mulish;
  max-width: 600;
  line-height: 1.8rem;
}

.showcase-area .btn{
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person{
  width: 150%;
  transform: translate(7%,1px)
}

@media screen and (max-width: 550px){
  .person{
    display: none;
  }
}

@media screen and (max-width: 870px){
  
  .hamburger-menu{
    display: flex;
  }

  .links{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: .5s;
  }

  .links ul{
    flex-direction: column;
  }

  .links a{
    color: #333333;
    margin-left: 0;
    padding: 2rem 0;
  }
  .links .btn{
    background: #fff;
    color: #333333;
    padding: 20px;
  }

   .btn:hover{
    background: #FFC319;
    color: #ffffff;
  }

  .overlay{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0 ,0.7);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
  }


  .big-wrapper.active .links{
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
    transform: translateX(0);
  }

  .showcase-area{
    margin: 0 auto;
    position: relative;
    max-width: 81rem;
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    z-index: 10;
  }

  .big-wrapper.active .overlay{
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area .container{
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title{
    font-size: 55px;
  }

  .text{
    font-size: .95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person{
    width: 180%;
    transform: translate(-7%,1px);
  }

  .shape{
    bottom: -180px;
    left: -150px;
  }

  .big-title, h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  margin-top: 25px;
  font-size: 55px;
  color: #333333;
}
}

@media screen and (max-width: 540px){
  .showcase-area{
    margin: 0 auto;
    position: relative;
    max-width: 81rem;
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    z-index: 10;
  }
}

@media screen and (max-width:470px){
  .container{
    padding: 0 1.5rem;
  }

  .big-title{
    font-size: 1.1rem;
  }

  .text{
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn{
    font-size: 0.8rem;
  }
}

/* mida me loome */

.backgroundyellow{
  text-align: center;
  height: 379px;
  background: rgba(255, 195, 25, 0.2);
  display: block;
}

.mml{
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mml h1{
  font-family: mulish;
  font-size: 60px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 7px;
}

.mml p{
  font-family: mulish;
  line-height: 1.8rem;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}
@media screen and (max-width: 870px){
  .backgroundyellow{
    height: 450px;
  }
  .mml p{
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width:550px){
  .mml h1{
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 470px){
  .backgroundyellow{
    height: 500px;
  }
  .mml p{
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Meie eesmärk */

.html{
  width: 160px;
  height: 142px;
}
.css{
  width: 160px;
  height: 142px;
}
.js{
  width: 160px;
  height: 142px;
}
.draw{
  width: 160px;
  height: 142px;
}
.content1{
  margin-left: 60px;
}
.content1 .textBox1 h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #333333;
}
.content1 .textBox1 p{
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 20px;
    width: 100%;
}
.content1 .desire{
  z-index: 99999999;
}
.circle1{
  z-index: 1;
}
.column button{
  position: absolute;
}

.homepage{
  width: 161%;
  transform: translate(1%, 2px)
}

.showcase-are{
  flex-direction: row;
}

/* SECTION - Contact */
.col{
  background: #fff2d7;
  display: grid;
  padding-top: 25px;
}
.col1{
  background: rgba(221, 151, 81, 0.2);
  display: grid;
  align-items: center;
  padding-top: 25px;
}
.grid {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.grid h1{
  font-family: mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  color: #333333;
  margin-bottom: 9px;
}
.grid .right-side p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
}
.left-side{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
  display: flex;
  align-items: center;
}

form .dbl-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.dbl-field .field{
  height: 50px;
  position: relative;
  width: calc(100% / 2 - 13px);
}
form .field input,
form .message textarea{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  background: transparent;
  border-radius: 5px;
  padding: 0 18px 0 28px;
  border: 1px solid #808080;
  font-family: mulish;
}
form .field input::placeholder,
form .message textarea::placeholder{
  color: #808080;
}
form .field input:focus,
form .message textarea:focus{
  border: 1px solid #ffc11893;
}
.wrapper .form i{
  position: absolute;
  left: 18px;
  top: 50%;
  color: transparent;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 22px;
}
form .field input:focus ~ i{
  color: transparent;
}
form .message textarea{
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15px 18px 0 28px;
  
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
  
}
.button-area button{
  padding: 7px 20px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background:#ffcf70;
  color: #ffffff;
  font-family: mulish;
}
.button-area span{
  color:rgb(255, 194, 25);
  margin-left: 25px;
  font-family: mulish;
  display: none;
}
@media(max-width: 1000px){
  .grid{
    display: grid;
  }
}

@media(max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  form .dbl-field{
    margin-bottom: 0px;
    flex-direction: column;
  }
  .dbl-field .field{
    width: 100%;
    margin-bottom: 20px;
  }
  form .button-area{
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
  }
  .button-area span{
    text-align: center;
    margin: 20px 0;
  }
  form .message textarea{
    resize: none;
  }
  .grid{
    display: grid;
    align-items: center;
    justify-items: center;
  }
}


/* Portfolio */

.portfolio{
  width: 100%;
  text-align: center;
  margin: auto;
}
.portfolio .text_portfolio h1{
  color: #333333;
    font-size: 55px;
    font-weight: 900;
    font-family: 'mulish', cursive;
    line-height: 66px;
    margin-bottom: 16px;
}
.portfolio .text_portfolio p{
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    margin-top: 16px;
    margin-bottom: 20px;
}
li, a, .button_portfolio{
    font-family: Mulish;
    font-weight: 700;
    font-size: 15px;
    color: #333333;
    text-decoration: none;  
}
.button_portfolio{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    font-family: Mulish;
    margin-bottom: 50px;

}
.button_portfolio:hover{
    background-color: #FFC319;
    color: #ffffff;
}
.row{
  margin-bottom: 60px;
}
.column {
    float: left;
    width: 48%;
    border-radius: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.portfolio_image {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align:center;
  flex: 1 1 150px; /*  Stretching: */
  flex: 1 1 150px; /*  No stretching: */
}

.img111{
  margin-top: 30px;
}

@media(max-width: 800px){
  .portfolio_image{
    flex-direction: column;
  }
}
/* About Me */

.about-me{
  width: 100%;
  text-align: center;
  margin: auto;
}
.text_portfolio p{
  margin: 0 175px 0 175px;
}
.text_portfolio h5{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 109.3%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 75px;
  color: #4F4F4F;
}

.text_portfolio h1{
  font-family: mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 76px;
  color: #333333;
}

.text_portfolio p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 180%;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 16px;
  margin: 0 100px 40px 100px;

}

.cols{
  display: flex;
  flex-wrap: wrap;
}
.photo{
  flex: 0 1 300px;
  flex: 1 1 300px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 12px;
}

.social {
  margin-bottom: 40px;
  width: 12px;
  height: 19px;
}

.btn-social{
  display: inline-block;
  padding: .7rem 1.9rem;
  color: #333333 !important;
  border-radius: 16px;
  font-family: 'Mulish';
  font-weight: 700;
  background: #FFFFFF;
  box-shadow: 4px 2px 11px -5px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  transition: .3s;
  border: 2px solid #f09433; 
  background: #f0953338;

}

.btn-social:hover{
  color: #fefefe !important;
  background: #f09433; 

  transform: scale(1) !important;
}

.btn-social1{
  display: inline-block;
  padding: .7rem 1.9rem;
  color: #333333 !important;
  border-radius: 16px;
  font-family: 'Mulish';
  font-weight: 700;
  background: #FFFFFF;
  box-shadow: 4px 2px 11px -5px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  transition: .3s;
  border: 2px solid #3b5998; 
  background-color: #3b58983d;
}

.btn-social1:hover{
  color: #fefefe !important;
  background-color: #3b5998;
  transform: scale(1) !important;
}

.btn-social .btn-social1{
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 700px){
  .text_portfolio p{
    margin: 15px 50px 15px 50px;
  }
}


@media(max-width: 500px){
  .text_portfolio p{
    margin: 20px 20px 20px 20px;
  }
}
/* Footer */
.footerblock{
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0 12px 0;
}

.footerblock img{
  width: 50px;
  height: 47px;
  margin-left: 100px;
}
.footerblock ul{
  display: flex;
  list-style-type: none;
  margin-left:.3rem;
}
.footerul{
  padding-left: 7px;
  transition: .3s;
}
.footerblock p{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: #333333;
}

.link a:hover{
  color: #ffc219bb;
}
.link a {
    color: #333333;
    margin-left: 2rem;
    font-family: mulish;
    font-weight: 700;
    display: inline-block;
    transition: .3s;
}

@media screen and (max-width: 870px){
  .footerblock{
    flex-direction: column;
    text-align: center;
  }
  .footerblock img{
    margin-left: 2px;
    margin: 7px 0 7px 0;
  }
  .footerblock ul{
    margin-right: 25px;
  }
}

/* Overlay */

.overlay_1 {
  position: fixed;
  height: 100vh;
  background-color: #fefefe;
  top: 0;
  left: 0;
  width: 100%;
  display: -ms-grid;
  font-family: mulish;
  display: grid;
  -ms-grid-columns: 75% auto 6em;
      grid-template-columns: 75% auto 6em;
  opacity: 0;
  -webkit-transform: translateX(10%) scale(0.9);
          transform: translateX(10%) scale(0.9);
  pointer-events: none;
  z-index: 999999999999999999999999;
}

.overlay_1 p{
  font-size: 18px;
  margin-bottom: 15px;
}

.left_1, .right_1, .middle_1 {
  height: 100vh;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  opacity: 0;
}

.left_1 h2 {
  color: #333333;
  font-size: 5rem;
  font-family: mulish;
  font-weight: 900;
  font-size: 55px;
  margin: 0;
}

.left_1 {
  padding: 8em 10em;
}

.left_1 p.subhead {
  color: black;
  font-size: 1.5rem;
  margin-top: -.5em;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.cards .card {
  padding: 2em;
  -webkit-box-shadow: 15px 15px 53px rgba(185, 185, 185, 0.11);
          box-shadow: 15px 15px 53px rgba(185, 185, 185, 0.11);
  border-radius: .5em;
}

.cards .card strong {
  color: black;
}

.cards .card p {
  color: #393241;
  font-weight: 300;
}

.cards .card:nth-of-type(2) {
  margin-left: 2em;
}

.cards .card .cta {
  padding: .5em 1em;
  border-radius: .3em;
  text-decoration: none;
  background: #333333;
  margin-top: 1em;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.middle_1 {
  padding-top: 10em;
}

.middle_1 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: mulish;
  font-weight: 700;
  padding: .4em 0;
  display: block;
  transition: .3s;
}

.middle_1 .secondary a:hover {
  color: #ffc219bb;
}

.secondary{
  list-style-type: none;
}

.middle_1 .social-nav {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.social-nav{
  transition: .3s !important;
}

.middle_1 a:hover svg path {
  fill: #ffc219bb;
}

.right_1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background-color: #333333;
}

.exit {
  margin-top: 15px;
  cursor: pointer;
}

/* page transition */
.loading-screen{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #1f1f1f;
  width: 0%;
  height: 100%;
}

.load-container{
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999999999999999999999;
  pointer-events: none;
}

/* Error Page 404 */

.errorpage h1{
  animation: type .5s alternate infinite;
  color: #333333;
    font-family: mulish;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Etevottest*/
.onelinetext{
  display: inline-block;
  margin: 15px 0 -5px 0;
}
.onelinetext h1{
  width: calc(20% - 2px);
  float: left;
}
.onelinetext p{
  width: calc(60% - 2px);
  float: right;
}
.etevottest{
  margin: 30px 0 0 0;
}
.etevottest h1{
  font-family: mulish;
  font-style: normal;
  font-weight: 900;
  margin: 30px 0 30px 0;
  font-size: 55px;
  line-height: 110.1%;
  color: #333333;
}
.etevottest p{
  margin: 10px 0 10px 0;
}
.heading h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 180%;
  color: #000000;
}

/* Card Container */
.wrapp{
  width: 100%;
  height: 50vh;
  top: 0;
  display: inline;
}

.card-container{
  position: relative;
  background: white;
  color: #333333;
  width: 100%;
  height: 100px;
  transition: all 0.2s ease-in-out;
  margin: 25px 0 25px 0;
}

.plus-icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  font-size: 20px;
  color: #333333;
}

.card-icon{
  position: absolute;
  top: 50%;
  left: 50%;transform: translate(-50%,-50%);
  font-size: 50px;
}

.preview-text{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  font-size: 20px;
  color: #333333;
}

.card-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 250px;
  height: 80px;
  background: #fefefe;
  transition: 0.3s;
}

.card-container:hover{
  background: #333333;
  color: #f3f3f3;
  transition: all 0.3s ease-out;
}

.card-container:hover .preview-text,
.card-container:hover .plus-icon {
  color: #fefefe;
}

.card-container:hover .card-icon{
  display: none;
}

.card-container:hover .card-circle{
  transform: translate(-50%, -50%) scale(1);
}

.text-wrapper{
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.1s ease-out;
  animation: float-left 40s linear infinite;
  animation-delay: 0.3s;
  z-index: 2;
  padding: 20px 0;
  mix-blend-mode: difference;
  opacity: 0;
}

@keyframes float-left{
  0%{
    left: -20%;
  }
  50%{
    left: -100%;
  }
  100%{
    left: -20%;
  }
}

.card-container:hover .text-wrapper{
  opacity: 1;
}


/*Fasttech - Portfolio*/

.fasttechbg .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 80%;
}

@media screen and (max-width: 850px){
  .tab{
    flex-direction: column;
  }
}

.big-fasttech{
  padding: 1.7rem 0 0.4rem;
  width: 100%;
  min-height: 80%;
  margin-top: -30px;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  background: rgba(221, 151, 81, 0.2);
  border-radius: 0px 0px 25px 25px;
}

.minicategories{
  margin-top: 20px;
}

.minicategories p{
  display: inline-block;
  margin: 0 10px 0 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  color: #333333;
  border: 3px solid #33333377;
  border-radius: 5px;
  padding: 4px 10px 4px 10px;
  margin: 5px 5px 5px 5px;
}

@media screen and (max-width: 1000px){
  .minicategories{
    margin-top: 50px;
  }
}

.big-title-fasttech h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #333333;
}

.textfasttech{
  color: #333333;
  font-size: 1.1rem;
  margin: 0.9rem 0 1.5rem;
  font-family: mulish;
  max-width: 600;
  line-height: 1.8rem;
}

.tab{
  display: flex;
  flex-direction: row;
  border-spacing: 10px;
  background: #FFFFFF;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  justify-content: space-around;
  padding: 38px 29px 45px 29px;
  margin-top: -100px;
  margin-bottom: 30px;

}
.colmn{
  text-align: center;
  margin: 0 10px 0 10px;
}

.tab h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 5px;
}
.tab p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 180%;
}

@media screen and (max-width: 850px){
  .tab{
    flex-direction: column;
  }
  .tab .colmn{
    margin: 10px 0 10px 0;
  }
}

.columnwww{
  float: left;
  width: 33.33%;
}
.www{
  margin-top: 100px;
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
}
.portfoliotext{
  margin: 40px 0 40px 0;
}

@media screen and (max-width: 600px){
  .boldtext{
    flex-direction: column;
  }
}

.boldtext p, a{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  color: #333333;
}

.boldtext p, a:after{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  color: #333333;
}

.boldtext p{
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  text-align: center;
  justify-content: space-between;
}
.boldtext{
  display: flex;
  justify-content: space-between;
}
.textportfolio{
  margin: 30px 10px 30px 10px;
}

.textportfolio p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 180%;
  color: #333333;
  margin: 15px 0 15px 0;
}

.textportfolio h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 7px;
  margin-top: 40px;
}

.fasttech_pflio{
  width: 49.83%;
}
.photo_portfolio{
  margin: 10px 0 30px 0;
}

.portfolio_pages{
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio_pages img{
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 1263px){
  .fasttech_pflio{
    width: 100%;
    margin: 5px 0 5px 0;
  }
}


.next_project a{
  background: #EFEFEF;
  width: auto;
  height: 22vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  color: #333333;
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.next_project a:hover{
  background: #333333;
  width: auto;
  color: #fefefe;
  height: 22vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}






/*Deluxewine - Portfolio*/

.deluxewinebg .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 80%;
}

.big-deluxewine{
  padding: 1.7rem 0 0.4rem;
  width: 100%;
  min-height: 80%;
  margin-top: -30px;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  background: #FBEFCD;
  border-radius: 0px 0px 25px 25px;
}

.big-title-deluxewine h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #333333;
}

.textdeluxewine{
  color: #333333;
  font-size: 1.1rem;
  margin: 0.9rem 0 1.5rem;
  font-family: mulish;
  max-width: 600;
  line-height: 1.8rem;
}

.deluxewine_pflio{
  width: 49.83%;
}




/*Fonolukk - Portfolio*/

.fonolukkbg .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 80%;
}

.big-fonolukk{
  padding: 1.7rem 0 0.4rem;
  width: 100%;
  min-height: 80%;
  margin-top: -30px;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  background: #CDDFFB;
  border-radius: 0px 0px 25px 25px;
}

.big-title-fonolukk h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #333333;
}

.textfonolukk{
  color: #333333;
  font-size: 1.1rem;
  margin: 0.9rem 0 1.5rem;
  font-family: mulish;
  max-width: 600;
  line-height: 1.8rem;
}

.fonolukk_pflio{
  width: 49.83%;
}



/*Rstudio - Portfolio*/

.rstudiobg .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 80%;
  
}

.big-rstudio{
  padding: 1.7rem 0 0.4rem;
  width: 100%;
  min-height: 80%;
  margin-top: -30px;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  background: rgba(221, 151, 81, 0.2);
  border-radius: 0px 0px 25px 25px;
}

.big-title-rstudio h1{
  font-family: Mulish;
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #333333;
}

.textrstudio{
  color: #333333;
  font-size: 1.1rem;
  margin: 0.9rem 0 1.5rem;
  font-family: mulish;
  max-width: 600;
  line-height: 1.8rem;
}

.rstudio_pflio{
  width: 49.83%;
}


/*Teenused*/

.tnsd_col_1{
  margin: 60px 0 50px 90px;
  flex: 40%;
}

.tnsd_col_1 img{
  width: 54px;
  height: 54px;
  margin-top: 5px;
}

.tnsd_col_1 a{
  transition: .3s;
}

.tnsd_col_1 a:hover{
  text-decoration:underline;
}

.tnsd_col_2{
  flex: 50%;
  display: flex;
  transform: translate(0%,0px);
}

.teenused_1{
  background: rgba(255, 195, 25, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.teenused_2{
  background: rgba(255, 108, 25, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.teenused_2 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.teenused_2 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.teenused_3{
  background: rgba(25, 103, 255, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.teenused_3 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.teenused_3 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.teenused_4{
  background: rgba(255, 0, 0, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.teenused_4 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.teenused_4 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.teenused_1 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.teenused_1 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.etevottest p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
}

@media screen and (max-width: 986px){
  .teenused_1, .teenused_2, .teenused_3, .teenused_4{
    flex-direction: column;
  }
  .tnsd_col_2{
  flex: 50%;
  transform: translate(0%,0px);
  }
  .tnsd_col_1{
    margin: 30px 10px 30px 10px;
    flex: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 425px){
  .teenused_1, .teenused_2, .teenused_3, .teenused_4{
    flex-direction: column;
  }
  .tnsd_col_2{
  flex: 50%;
  transform: translate(0%,0px);
  }
  .tnsd_col_1{
    margin: 30px 7px 30px 7px;
    flex: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px){
  .tnsd_col_2{
    display: none;
  }
}

.info{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: mulish;
  font-size: 18px;
}
.info_2 p{
  margin-left: 35px;
  line-height: 40px;
}
.info_1 p{
  line-height: 40px;
}

@media screen and (max-width: 870px){
  .overlay_1{
    display: none;
  }
}

/* Portfolio */

.portfolio_1{
  background: rgba(221, 151, 81, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.portfolio_2{
  background: rgba(255, 195, 25, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.portfolio_2 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.portfolio_2 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.portfolio_3{
  background: rgba(25, 103, 255, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.portfolio_3 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.portfolio_3 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.portfolio_4{
  background: rgba(240, 165, 87, 0.2);
  display: flex;
  border-radius: 15px;
  margin: 20px 0 20px 0;
}

.portfolio_4 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.portfolio_4 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

.portfolio_1 h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  margin: 20px 0 12px 0;
  color: #333333;
}

.portfolio_1 p{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  margin-bottom: 25px;
  font-family: Mulish;
  color: #333333;
}

@media screen and (max-width: 986px){
  .portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4{
    flex-direction: column;
  }
  .tnsd_col_2{
  flex: 50%;
  transform: translate(0%,0px);
  }
  .tnsd_col_1{
    margin: 30px 10px 30px 10px;
    flex: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 425px){
  .portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4{
    flex-direction: column;
  }
  .tnsd_col_2{
  flex: 50%;
  transform: translate(0%,0px);
  }
  .tnsd_col_1{
    margin: 30px 7px 30px 7px;
    flex: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px){
  .tnsd_col_2{
    display: none;
  }
}